html,
body {
    background-color: rgb(0, 31, 78) !important;
    font-family: "Montserrat", sans-serif !important;
}

.heading {
    margin-top: 10% !important;
}

nav.navbar {
    background-color: transparent !important;
}

.nav-color {
    color: rgb(230, 230, 230) !important;
}

.primary-text {
    color: rgb(207, 216, 255);
    font-size: 3rem;
}

.secondary-text {
    color: rgb(91, 130, 180);
    font-size: 1.95rem;
}

.tertiary-text {
    font-family: 'Lucida Console';
    color: rgb(16, 228, 199);
    font-size: 1.2rem;
}

.display-paragraph {
    color: rgb(206, 206, 206);
}

.bold {
    font-weight: 700;
}

.round-img {
    border-radius: 50%;
}

.add-margin {
    margin-top: 5% !important;
}

#view-resume {
    background-color: rgba(112, 96, 255, 0);
    color: rgb(16, 228, 199);
    padding: 10px 19px;
    font-size: 1.1rem;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(16, 228, 199);
}

#view-resume:hover {
    background-color: rgb(16, 228, 199);
    color: rgb(0, 31, 78);
}

#logo {
    width: 12%;
    border-radius: 50%;
}

.hr-style {
    border: 1px solid rgb(16, 228, 199);
    margin: 7% 0%;
}

.section-title {
    text-align: center;
}

#description-text {
    margin: 5% 7%;
}

.emphasize {
    font-size: 1.4rem;
}

.inline-emphasize {
    color: rgb(16, 228, 199);
}

.navbar-toggler {
    background-color: rgba(16, 228, 199, 1) !important;
}