@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

:root {
  --green: #28c028;
  --green-dim: #1b831b;
  --cyan:  #00eaff;
}

html, body {
  height: 100%;
  margin: 0;
  background: #000;
  color: var(--green);
  font-family: "IBM Plex Mono", monospace;
}

a { color: var(--cyan); text-decoration: underline; }

.command-hint {
  color: #ffff00;
  font-style: italic;
}

.highlight {
  color: #00ff00;
  font-weight: bold;
}